ul {
/* Utilizamos o inherit e none para tira estilização por padrao que vem com a tag*/
    color: inherit;
    text-decoration: none;
}
/*Usamos !important para que seja a regra mais importante */
a{
    color: inherit !important;
    text-decoration: none !important;
}
/*Usamos back groud para cor de fundo color para cor da letra, usamo position fixed para que ele sempre fique visivel, usamo width para largura e z index para a ordem de empilhamento */
#navegacao{
background-color:rgb(26, 1, 54);
color: white;
position: fixed;
width: 100%;
z-index: 1000;
}
/* Usamos o padding top para define o espaçamento interno de cima */
#busca{
padding-top: 5px;
}
/*usamos o display flex para que ele ser comporta com cointaner flexivel usamo flex direction para que seja colocado como colun usamo o justify e align para que seja centralizado no center  */
#conjInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/fundo.jfif);
    height: 900px;
    padding-right: 200px;
    position: relative;
}

/*Manutenibilidade: Ao utilizar @supports para corrigir bugs específicos de navegadores, você está acoplando seu código a detalhes de implementação que podem mudar no futuro. Isso torna o código mais difícil de manter e atualizar.
Legibilidade: Um excesso de regras @supports pode tornar o seu CSS mais complexo e difícil de entender.Porem nesse caso vamos usar ele porque ta tendo uma diferença de espaçamento entro navegador do google e do edge */
/* Hack para Microsoft Edge.Ele é considerado hack porque está sendo usado para um proprosito que não foi criado */


.botoes {
    display: flex;
    gap: 0px; /* Espaçamento entre os botões */
    border-radius: 60%;
}

.inicio {
    margin: 10px;
}

/* Usamos border para deixa sem bordar usamos border radius para  arredonda a bordar usamos curso pointer para fala que é clickavel*/
.botao{
margin: 10px;
padding: 10px 20px;
color: white;
border: none;
border-radius: 20px; /* Arredonda os cantos */
cursor: pointer;
outline: 2px solid #6a1b9a ;
}

#botaoDif{
    outline: 2px solid white;
    background: linear-gradient(to bottom,white);
    
}

#PrimTit{
    font-size: 6em;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid white;
  }

#seta {
    color: white;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 800px;
    margin-right: 60px;
    cursor: pointer;
}


#bemvindo{
    text-align: center;
    color: rgb(26, 1, 54);
}
.apresP{
    color: rgb(90,72,110);
}

#barra{
    text-align: center;
    background-color: rgb(60,0,150);
    height: 3px;
    width: 180px;
   margin-left: 45%;
   border-radius: 5px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

#pApres{
    margin-top: 50px;
    max-width: 800px;
    text-align: justify;
    margin-left: 28%;
}

.animacao {
    background: rgb(26, 1, 54);
    color: white;
    height: 95px;
    display: flex;
    align-items: center;
    overflow: hidden; /* Esconde o texto que sai da área visível */
}

.item {
    display: flex;
    align-items: center;
    animation: moverEsquerda 10s linear infinite; /* Animação */
}

.estrela {
    margin-right: 10px; /* Ajuste o valor conforme necessário */
    color: rgb(142,98,255);
}

.mensagem {
    white-space: nowrap; /* Impede quebra de linha */
    margin-right: 30px; /* Ajuste o valor conforme necessário */
    font-size: 1.5em;
}

@keyframes moverEsquerda {
    0% {
        transform: translateX(100%); /* Começa fora da área visível à direita */
    }
    100% {
        transform: translateX(-100%); /* Termina fora da área visível à esquerda */
    }
}
.imgBane{
    height: 210px;
    width: 398px;
    object-fit: cover;
}

.bainers{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os subbaners se ajustem em várias linhas, se necessário */
    gap: 40px; /* Adicionado para ajustar o espaçamento entre os subbaners */
}

.subBane{
    max-width: 400px;
    height: 400px;
    width: 100%;
    background: rgb(255,255,255,0.8);
   
    border: 1px solid black;
    position: relative;
    margin: 0;
}

.titBane{
    background: rgb(26, 1, 54);
    color: white;
    margin: 0; /* Adicionado */
    padding: 5px; /* Adicionado */
    position: absolute; /* Adicionado*/
    top: 0; /* Adicionado */
    left: 0; /* Adicionado */
    width: 100%; /* Adicionado */
    box-sizing: border-box;
    border: 1px solid black;
}

#hist{
    text-align: center;
    color: rgb(60,0,150);
}

/* Personalizando o estilo do ícone */
#aspas{
    font-size: 60px;
    color: rgb(75,18,109);
    
}

.comentario{
    margin-top: 100px;
    background-image: url(img/comentario.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 340px;
}

.texto{
    text-align: center;
    color: rgb(90,72,110);
    max-width: 500px;
    margin: 0 auto;
}

#trasp{
    background: rgb(255,255,255,0.8);
    width:80%;
    position: relative;
    top: 60px;
    margin-left: 200px;
}


.circulo {
    width: 10px;
    height: 10px;
    background-color: rgb(99, 92, 121);
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
}

.circulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 280px; /* Ajuste a posição conforme necessário */
    top: 60%;
    transform: translateY(-50%);
}

.circulo {
    width: 10px;
    height: 10px;
    background-color: rgb(99,92,121);
    border-radius: 50%;
    margin: 10px 0;
}

.ativo {
    background-color: rgb(83, 27, 179);
}

.inativo {
    background-color: rgb(99, 92, 121);
}

.contact-info {
    display: flex;
    text-align: center;
  }
  
  .section {
    margin-top: 30px;
    margin-left: 350px;
    
}
#titCont{
    text-align: center;
}

#subCont{
    text-align: center;
}


#final {
    height: 200px;
    background: rgb(26, 1, 54);
    color: white;
    text-align: center;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Distribui espaço entre os itens */
    padding: 0 20px; /* Adiciona padding para espaçamento interno */
  }

  #textFinal {
    flex-grow: 1; /* Permite que o texto ocupe o espaço central */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
  }

  #textFinal p {
    word-spacing: 20px;
    margin: 0;
    margin-bottom: 70px;
    margin-left: 250px;
  }


  #direitos {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  #direitos p {
    margin: 0;
  }